
      
      <div class="row cinema-list-heading" th:fragment="heading">
      	<h1>
      		List of cinemas nearby
      	</h1>
      </div>
      
      <div class="row" th:fragment="cinemaList">
      <div th:each="cinema : ${cinemas}" class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title" th:text="${cinema.name}"></h2>
              <p class="card-text" th:text="'Location : ' + ${cinema.city} + ', ' + ${cinema.address} + '!'"></p>
            </div>
            <div class="card-footer">
              <a class="btn btn-cinemas"  th:href="'/cinema/' + ${cinema.id}">Go to</a>
            </div>
          </div>
        </div>


      </div>
		
		