

<div th:if="${active != 'schedules'}" th:fragment="table">
<h1 th:text="${active}"> </h1>

<table class="table table-hover">
   <thead>
     <tr>
       <th th:each="key : ${keys}" th:text="${key.toUpperCase()}"> </th>
     </tr>     
   </thead>
   <tbody>
     <tr th:each="data : ${data}" th:classappend="${data.active == false} ? 'disabled-row' : ''">
       <td th:each="key : ${keys}" th:text = "${data[key]}" >
       </td>
       <td>
	       <a class="confirm-deletion" th:if="${active != 'purchases'}" th:text="${data.active == false} ? 'Undelete' : 'Delete'" th:href="'/admin/' + ${active} +'/delete/' + ${data.id}" style="color:red;" onclick="return confirm('Are you sure?')">
	       		Delete
	       </a>
       </td>
       <td>
	       <a class="edit"  th:if="${active != 'purchases'}" th:href="'/admin/' + ${active} +'/edit/' + ${data.id}" style="color:blue;">
	       		Edit
	       </a>
       </td>
     </tr>
   </tbody>
 </table>
 
	 <nav th:if="${pages > 1}" aria-label="Page navigation example">
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link" th:classappend="${page == 1} ? 'disabled' : ''" th:href="${page != 1}?('/admin/' + ${active}+ '/' +${page-1}):''" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Previous</span>
	      </a>
	    </li>
	    <li class="page-item"><a class="page-link" th:classappend="${page == 1}? 'disabled hidden-link' : ''" th:href="'/admin/' + ${active} + '/' + ${page-1}" th:text="${page-1}"></a></li>
	    <li class="page-item active"><a class="page-link" href="#" th:text="${page}"></a></li>
	    <li class="page-item"><a class="page-link" th:classappend="${page == pages} ? 'disabled hidden-link' : ''" th:href="'/admin/' + ${active} + '/' + ${page+1}" th:text="${page+1}">3</a></li>
	    <li class="page-item">
	      <a class="page-link" th:classappend="${page == pages} ? 'disabled' : ''" th:href="${page +1 < pages}?('/admin/' + ${active}+ '/' +${page+1}):${pages}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Next</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<a  th:if="${active != 'purchases'}" th:href="'/admin/' + ${active} + '/new'">
		<button type="button" class="btn btn-primary col-xs-12" >
			Add New
		</button>
 	</a>
 </div>
 
 <div th:if="${active == 'schedules'}" th:fragment="table">
<h1 th:text="${active}"> </h1>

<table class="table table-hover">
   <thead>
     <tr>
       <th th:each="key : ${keys}" th:text="${key.toUpperCase()}"> </th>
     </tr>     
   </thead>
   <tbody>
     <tr th:each="data : ${data}" th:classappend="${data.active == false} ? 'disabled-row' : ''">
       <td  th:text = "${data.cinema.name}" >
       </td>
       <td  th:text = "${data.auditorium.name}" >
       </td>
       <td  th:text = "${data.movie.name}" >
       </td>
       <td  th:text = "${data.timeFrom}" >
       </td>
       <td  th:text = "${data.timeTo}" >
       </td>
       <td>
	       <a class="confirm-deletion" th:text="${data.active == false} ? 'Undelete' : 'Delete'" th:href="'/admin/' + ${active} +'/delete/' + ${data.id}" style="color:red;" onclick="return confirm('Are you sure?')">
	       		Delete
	       </a>
       </td>
       <td>
	       <a class="edit" th:href="'/admin/' + ${active} +'/edit/' + ${data.id}" style="color:blue;">
	       		Edit
	       </a>
       </td>
     </tr>
   </tbody>
 </table>
 
	 <nav th:if="${pages > 1}" aria-label="Page navigation example">
	  <ul class="pagination">
	    <li class="page-item">
	      <a class="page-link" th:classappend="${page == 1} ? 'disabled' : ''" th:href="${page != 1}?('/admin/' + ${active}+ '/' +${page-1}):''" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	        <span class="sr-only">Previous</span>
	      </a>
	    </li>
	    <li class="page-item"><a class="page-link" th:classappend="${page == 1}? 'disabled hidden-link' : ''" th:href="'/admin/' + ${active} + '/' + ${page-1}" th:text="${page-1}"></a></li>
	    <li class="page-item active"><a class="page-link" href="#" th:text="${page}"></a></li>
	    <li class="page-item"><a class="page-link" th:classappend="${page == pages} ? 'disabled hidden-link' : ''" th:href="'/admin/' + ${active} + '/' + ${page+1}" th:text="${page+1}">3</a></li>
	    <li class="page-item">
	      <a class="page-link" th:classappend="${page == pages} ? 'disabled' : ''" th:href="${page +1 < pages}?('/admin/' + ${active}+ '/' +${page+1}):${pages}" aria-label="Next">
	        <span aria-hidden="true">&raquo;</span>
	        <span class="sr-only">Next</span>
	      </a>
	    </li>
	  </ul>
	</nav>
	<a  th:if="${active != 'purchases'}" th:href="'/admin/' + ${active} + '/new'">
		<button type="button" class="btn btn-primary col-xs-12" >
			Add New
		</button>
 	</a>
 </div>
 
 
 
 <div th:fragment="dashboard">
 This is the dashboard and some information in it. 
 Still in development tho
 </div>