<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="fragments/nav :: navbar"></nav>

	<!-- Page Content -->
	<div class="container-fluid main-container error-container">

		<h1
			th:text="${errorHeader != null ? errorHeader : 'Error 500: We screwed something up'}"
			th:class="${errorClass != null ? errorClass : 'err500'}"></h1>

		<h3 th:text="${errorMessage}"></h3>

		<div>
			You can <a href="#" onclick="history.back();">&#8592;go
				back&#8592;</a> and try again.
		</div>

	</div>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>
