<!DOCTYPE html>
<html ><!--  xmlns="http://www.w3.org/1999/xhtml" -->
	<!--  xmlns:th="http://www.thymeleaf.org"> -->

<head th:replace="fragments/header :: head">
</head>

<body>

	<nav th:replace="fragments/nav :: navbar">
	</nav>



	<div class="container-fluid main-container">
	
	<form th:action="@{/registration}" method="get">
		<button class="btn btn-md btn-warning btn-block" type="Submit">Go To Registration Page</button>
	</form>	
	
	<div class="container">

		<img th:src="@{/img/} +login.jpg" class="img-responsive center-block" width="300" height="300" alt="Logo" />

		<form th:action="@{/login}" method="POST" class="form-signin">
			<h2 class="form-signin-heading" th:text="Welcome"></h2>
			<br/>
			 
			<input type="text" id="email" name="email"  th:placeholder="Email"
				class="form-control" /> <br/> 
			<input type="password"  th:placeholder="Password"
				id="password" name="password" class="form-control" /> <br /> 
				
			<div align="center" th:if="${param.error}">
				<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
			</div>
			<button class="btn btn-lg btn-primary btn-block" name="Submit" value="Login" type="Submit" th:text="Login"></button>
		</form>
	</div>
	
	</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>