<!DOCTYPE html>
<html lang="en">

<head th:replace="fragments/header :: head"></head>

<body>

	<!-- Navigation -->
	<nav th:replace="fragments/nav :: navbar"></nav>

	<!-- Page Content -->
	<div class="container-fluid main-container screening-layout-container">

		<h1>Your purchase details</h1>

		<h3 th:text="${purchase.schedule.movie.name + ', ' + dateTime}"></h3>

		<div th:if="${purchaseStatus == 'p'}">
			<table th:replace="fragments/purchase/details :: purchase-details"></table>
		</div>

		<div th:if="${purchaseStatus == 'r'}">
			<form id="paymentForm" action="#" th:object="${paymentForm}"
				th:action="@{/purchase/pay/complete}" method="post">
				<input type="hidden" th:field="*{purchaseId}"
					th:value="${purchaseId}" /> <input type="hidden"
					th:field="*{amountPaid}" th:value="${amountPaid}" /> <input
					type="hidden" th:field="*{gatewayTransactionId}"
					th:value="${gatewayTransactionId}" />
				<table th:replace="fragments/purchase/details :: purchase-details"></table>
			</form>
		</div>



	</div>

	<footer th:replace="fragments/footer :: footer"></footer>
</body>

</html>
